.container {
    width: 700px;
}

.top-buffer {
    margin-top: 50px;
}

.section {
    margin-top: 25px;
}

.section-2 {
    margin-top: 12px;
}


.profile {
    float: right;
    margin-left: 10px;
}